---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: meta
  namespace: meta
  labels:
    app: meta
    app.kubernetes.io/name: meta
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: meta
  # Template for the created pods
  template:
    metadata:
      namespace: meta
      labels:
        app.kubernetes.io/name: meta
      annotations:
        linkerd.io/inject: enabled
        vault.security.banzaicloud.io/vault-role: meta
        vault.security.banzaicloud.io/vault-addr: "https://vault.default:8200"
        vault.security.banzaicloud.io/vault-tls-secret: vault-tls
    spec:
      serviceAccountName: default
      initContainers:
      - name: meta-migrate-db
        image: rg.nl-ams.scw.cloud/uplink/meta:latest
        env:
        - name: BLUR_ENV
          value: production
        command: ["/bin/sh", "-c", "mkdir /meta/cache; bundle exec sequel -m /meta/migrations \"${DATABASE_URL}\""]
        volumeMounts:
        - name: meta-cache
          mountPath: /meta/cache
        envFrom:
        - secretRef:
            name: meta-env

      containers:
      # The bot container
      - name: meta
        image: rg.nl-ams.scw.cloud/uplink/meta:latest
        env:
        - name: BLUR_ENV
          value: production
        - name: TZ
          value: Europe/Copenhagen
        args:
        - "-v"
        volumeMounts:
        - name: meta-cache
          mountPath: /meta/cache
        - name: meta-webm
          mountPath: /data/webm
        envFrom:
        - secretRef:
            name: meta-env
      # The mail reader container
      - name: mail-reader
        image: rg.nl-ams.scw.cloud/uplink/meta-mail_reader:v0.1.7
        env:
        - name: S3_BUCKET_NAME
          value: 7td20i4n5csfoq1w
        - name: AWS_REGION
          value: eu-north-1
        - name: AWS_ACCESS_KEY
          value: vault:secret/data/meta/aws#AWS_ACCESS_KEY_ID
        - name: AWS_SECRET_KEY
          value: vault:secret/data/meta/aws#AWS_SECRET_ACCESS_KEY
        - name: IMAP_USERNAME
          value: vault:secret/data/meta/mail#IMAP_USERNAME
        - name: IMAP_PASSWORD
          value: vault:secret/data/meta/mail#IMAP_PASSWORD
        - name: RPC_SECRET
          value: vault:secret/data/meta#RPC_SECRET

      imagePullSecrets:
      - name: uplink-nl-ams-scw-registry
      volumes:
      - name: meta-cache
        persistentVolumeClaim:
          claimName: meta-cache
      - name: meta-webm
        emptyDir: {}

