patches:
- path: patches/deployment.yaml
  target:
    kind: Deployment
resources:
- ../../base/meta-oss
- ./manifests/sealedsecret.meta-env.yaml

images:
- name: meta
  newName: ghcr.io/rwx-labs/meta-oss
  newTag: tmp-1
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
