patches:
- path: patches/deployment.yaml
  target:
    kind: Deployment
resources:
- ../../base/meta-oss
- ./manifests/sealedsecret.meta-env.yaml

images:
- name: meta
  newName: ghcr.io/rwx-labs/meta-oss
  newTag: sha-ccfce8ecd06f262d5e6d7dbde8a48d59b529068c
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
